@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

a, p, h1, li, ul {
    color: var(--ctp-mocha-text);
}

li:not(:last-child) {
    padding-bottom: 5px;
}

body {
  
  background-color: var(--ctp-mocha-base);
  
}

#subtext {
    color: var(--ctp-mocha-overlay1);
}

#biggy {
    font-size: 20px;
}

#griddy {
    display: grid;
    grid-template-columns: max-content max-content;
}

.paddy {
    padding: 40px;
}