/*@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');*/ 

:root {

    --purple: #cdb4db;
    --lightpink: #ffc8dd;
    --pink: #ffafcc;
    --red: #da7775;
    --green: #baf2bb;
    --lightblue: #b2d0dd;
    --blue: #7099c7;
    --white: #fffffe;
    --black: #030303;
    --grey: #303030;
    --lightgrey: #606060;
    --verylightgrey: #909090;

}

a, p, h1, li, ul {
    color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#subtext {
    font-size: 14px;
    font-style: italic;
    color: var(--green);
}

li:not(:last-child) {
    padding-bottom: 8px;
}

body {
  
  /*background-color: var(--ctp-frappe-crust);*/
  background-image: url('https://images.unsplash.com/photo-1482517967863-00e15c9b44be?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-attachment: fixed;
  
}

#biggy {
    font-size: 26px;
}

#griddy {
    display: grid;
    grid-template-columns: max-content max-content;
}

.paddy {
    padding-right: 30px;
}

.raddy {
    padding-left: 25px;
}

#bigtitle {
    font-size: 45px;
}

.emote {
    vertical-align: middle;
    height: 16px;
}